/* google fonts imports */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');
/* Asteriks wildcard  selector to override defaults styles added by the browser */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

/* setting html scrolling styles to smooth to ensure easing user defined scrolling(scrolls when scorller is triggered */
html{
    scroll-behavior: smooth;
}

/* general styling for the whole body */
body{
    background: #fafafa;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    display: flex;
    justify-content: center;
    background: #333;
}