/* google fonts imports */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

/* Asteriks wildcard  selector to override defaults styles added by the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

/* setting html scrolling styles to smooth to ensure easing user defined scrolling(scrolls when scorller is triggered */
html {
    scroll-behavior: smooth;
}

/* general styling for the whole body */
body {
    background: #fafafa;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    display: flex;
    justify-content: center;
    background: #343333;
}

/* applied to all header elements to seperate the title of the site from the menu items */
.navigation {
    display: flex;
    padding: 0 10px;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    justify-content: space-between;

}

/* this will help us out our navigation in line */
.navigation input#nav-toggler {
    display: none;
}

.navigation #hamburger-btn {
    cursor: pointer;
    display: none;
}

/* menu items in class links to be displayed in columns */
.navigation .links {
    display: flex;
    align-items: center;
}

/* The list items of the navigation to be displayed in line(column instead) */
.navigation .links li {
    position: relative;
    list-style: none;

}

.navigation .title a {
    display: flex;
    align-items: center;
    margin-left: 0;
}

/* styling the anchor elements in the header section 
footer section if any should atleast resemble the same as header section for consistency*/
header a,
footer a {
    margin-left: 40px;
    text-decoration: none;
    font-weight: bold;
    color: #e2dfe4;
    height: 100%;
    padding: 20px 0;
}

/* setting hover property */
header a:hover,
footer a:hover {
    color: #525156;

}

/* setting up a background image */
.headerpage {
    height: 100vh;
    width: 100%;
    position: relative;
    background: url("../images/background2.jpg") no-repeat top center/cover;
}

.headerpage::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.headerpage .content {
    display: flex;
    height: 85%;
    z-index: 3;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.headerpage .content h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
    /* color: #fafafa;
    text-align: center;
    text-decoration: solid; */

}

.headerpage .content p {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    margin-bottom: 10px;
    color: #fafafa;
    text-align: center;
    margin-block-start: 1em;
    margin-block-end: 3em;

}

.headerpage .content .text {
    margin-bottom: 50px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.content a {
    color: #000;
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0 10px;
    padding: 10px 30px;
    border-radius: 5px;
    background: #fafafa;
    border: 2px solid #fafafa;
    transition: 0.4s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.content a:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.487);
}

/* making all the section element to be in column and in center */
section {
    padding: 80px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section h2 {
    font-size: 2rem;
}

section>p {
    text-align: center;
}

section .square-boxes {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-top: 50px;
    padding: 0 10px;
    justify-content: space-between;
}

section .about {
    margin: 0 auto;
    max-width: 1200px;
}

.about .our-info {
    margin-top: 30px;
}

.about h3 {
    margin: 30px 0 10 px;
}

.about .founders {
    text-align: left;
    width: 100%;
}

.about .founders ul {
    padding-left: 20px;
}

/* content for other section might come here */
section .square-boxes .square-box {
    background: #fafafa;
    list-style: none;
    border-radius: 4px;
    padding: 40px 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04);
    width: calc(33.33% - 30px);
    text-align: center;
}

/* .portifolio .square-boxes .square-box{
    padding: 0 0 20px;
} */
.services .square-box img {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
    border-radius: 100%;
    object-fit: cover;
}

.portifolio .square-box img {
    width: 120px;
    padding-bottom: 10px;
    aspect-ratio: 19 / 2;
    object-fit: cover;
    border-radius: 7px;
}

.square-boxes .square-box p {
    padding: 0 15px;
    margin-top: 5px;
}

.about .align {
    padding: 0 10px;
}
.contact .align {
    margin: 60px 0 90px;
    display: flex;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
/* align is row level alignment and align2 is a column level alignment */
.contact .align .align2 {
    padding: 0 10px;
    width: calc(100%/2 - 50px);
}

.contact .align2 {
    margin-bottom: 9px;
}

.contact .align2 p i {
    color: #9c9a9a;
    margin-right: 10px;
}

.contact form input {
    height: 50px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    font-size: 14px;
    outline: none;
    border: 1px solid #888484;
}

.contact form textarea {
    padding: 9px;
    width: 100%;
    font-size: 14px;
    height: 145px;
    outline: none;
    resize: vertical;
    border: 1px solid #a3a3a3;
}

.contact form button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 17px;
    color: #fafafa;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background: #3a3a3a;
    transition: 0.2s ease;
}

.contact form button:hover {
    background: #555555;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #010123;
    padding: 20px 0;
}

footer div {
    padding: 0 10px;
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
footer span{
    color: #fafafa;
}
footer a{
    padding: 0;
}

/* media query for 860px and above */
@media screen and (max-width:860px) {
    .navigation.links {
        position: fixed;
        left: -100%;
        width: 300px;
        display: block;
        height: 100vh;
        top: 75px;
        background: #333333;
        transition: left 0.3s ease;
    }

    navbar #menu-toggler:checked~.links {
        left: 0;
    }

    .navbar .links li {
        font-size: 18px;
    }

    .navbar #hamburger-btn {
        display: block;
    }
    section>p {
        text-align: center;
    }

    section .square-boxes .square-box {
        width: calc(100%/2 - 15px);
        margin-bottom: 30px;
    }
    .headerpage.content .h1 {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 10px;
        /* text-decoration: solid; */
    }
    
    .headerpage .content .text {
        font-size: 17px;
    }

    .content a {
        font-size: 17px;
        padding: 9px 20px;
    }
    .contact .align {
        flex-direction: column;
    }
    .contact .align .align2{
        width: 100%;
    }
    .contact .align .align2:last-child{
        margin-top: 40px;
    }
    footer a{
        height: 0;
    }

}

/* media query mobile fast with screen 560 px and above */
@media screen and (max-width: 560px) {
    section .square-boxes .square-box {
        width: 100%;
        bottom: 30px;
    }

}